<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>ALBUM FAMILY</title>
    <%- include ('./includes/head.html') %>
    <link rel="stylesheet" type="text/css" href="/css/stylestarjet.css">
    <script type="text/javascript" src="/js/event.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id ="header1">
            <div class="col-8" id="logo">
                <h1>DE TODO UN POQUITO</h1>
            </div>
            <div class="col-3" id= "photo" >
                <img src="/Img/Mas/Mas.jpg" class="rounded-circle" alt="imagen1"/>
            </div>
            <div class="col-1" id ="bottom"> 
              <a href='/index' class="btn btn-info">HOME</a>
            </div>
        </div>
        <div class="row" id = "content">
            <div class="col-5 mt-4" id= "aside1">
                <p>
                    Porque todos los momentos son especiales para compartir, nos encanta salir a celebrar los cumpleaños y pasar tiempo juntos
                </p>
            </div>
            <div id="slider" class="carousel slide mt-4 col-7" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#slider" data-slide-to="0" class="active"></li>
                  <li data-target="#slider" data-slide-to="1"></li>
                  <li data-target="#slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="/Img/Mas/Mas1.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Los abuelitos y las tias </h4>
                      <p>En cumpleaños.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas2.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>La tia y la abuelita </h4>
                      <p>Cumpleaños de la abuelita.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas3.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>En el cumpleaños de la abuelita</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas4.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>En en cumpleaños de julietica</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas5.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Abuelitos, manu y aleja</h4>
                      <p>De salida a comer restaurante</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas6.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>En el cumpleaños de julietica.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas7.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>En el cumpleaños de julietica.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas8.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Manu,Juli y Aleja</h4>
                      <p>Foticos juntas.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas9.jpg" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Abuelita, Aleja y Juli</h4>
                      <p>En la casa junticas</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas10.jpg" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Las princesas</h4>
                      <p>Listas para salir de paseo</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas11.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>En el cumple de manuelita.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas12.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Las sobrinas y los tios</h4>
                      <p>En el cumple de manuelita.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas13.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Las princesas</h4>
                      <p>Jugando en la casa de la abuelita</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas14.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Las princesas</h4>
                      <p>Jugando en la casa de la abuelita.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas15.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Abuelitos y las chiquitas</h4>
                      <p>Disfrutando en la casa de los abuelitos</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas16.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Las chiquitas</h4>
                      <p>Jugando a disfrazarse</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas17.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>Saliendo a comer</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas18.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>El tio y las princesas</h4>
                      <p>De salida en el centro comercial</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas19.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>Saliendo a comer</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas20.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>Disfrutando de salida al parque</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas21.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>Disfrutando de salida al parque</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas22.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Abuelitos y tios</h4>
                      <p>Disfrutando de salida al parque</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas23.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>La tia y las princesas</h4>
                      <p>Jugando en la cama de la abuelita</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas24.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>La tia y las princesas</h4>
                      <p>ugando en la cama de la abuelita</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas25.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>De salida al restaurante</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas26.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Todos</h4>
                      <p>De salida al restaurante</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="/Img/Mas/Mas27.JPG" alt="mas">
                    <div class="carousel-caption d-none d-md-block">
                      <h4>Leo y Lucianita</h4>
                      <p>En el castillo de Quebec</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                  <span class="sr-only"> Anterior</span>
                </a>
                <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                  <span class="sr-only"> Siguiente</span>
                </a>
              </div>
        </div>
        <%- include ('./includes/footer2.html') %>

    </div>

    <%- include ('./includes/head.html') %>
  <script>
    $(document).ready(function () {
      $(".carousel").carousel({
        interval: 3000
      });
      $(".btn-tool").tooltip();

      $(".btn-pop").popover();
    });
  </script>
</body>