<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>ALBUM FAMILY</title>
    <%- include ('./includes/head.html') %>
    <link rel="stylesheet" type="text/css" href="/css/stylesmeetus.css">
</head>

<body>
    <header id="header">
        <div class="logo">
            <img src="/Img/comeseeus.jpg" alt="conocenos">
        </div>
    </header>

    <div class="container">
        <div class="tarjet">
            <a href='/index'>
                <figure>
                    <img src="/Img/Mas/Conocenos/Abuelito1.jpg" class="front" alt="grandpa">
                    <figcaption class="back">
                        <h1>GRAND PA</h1>
                        <hr>
                        <p>El mas experimentado..</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="tarjet">
            <a href='/index'>
                <figure>
                    <img src="/Img/Mas/Conocenos/Abuelita2.jpg" class="front" alt="grandma">
                    <figcaption class="back">
                        <h1>GRAND MA</h1>
                        <hr>
                        <p>La mejor mama del mundo</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="tarjet">
            <a href='/index'>
                <figure>
                    <img src="/Img/Mas/Conocenos/Glorita3.jpg" class="front" alt="hermana1">
                    <figcaption class="back">
                        <h1>BIG SISTER</h1>
                        <hr>
                        <p>Nuestra segunda mama..</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="tarjet">
            <a href='/index'>
                <figure>
                    <img src="/Img/Mas/Conocenos/Leo5.jpg" class="front" alt="cuñado">
                    <figcaption class="back">
                        <h1>BROTHER-IN-LAW</h1>
                        <hr>
                        <p>El de ambiente..</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="tarjet">
            <a href='/manuela'>
                <figure>
                    <img src="/Img/Mas/Conocenos/Manuela.jpg" class="front" alt="cuñado">
                    <figcaption class="back">
                        <h1>OUR PRINCESS</h1>
                        <hr>
                        <p>Manuela.</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="tarjet">
            <a href='/index'>
                <figure>
                    <img src="/Img/Mas/Conocenos/Leo4.jpg" class="front" alt="Leo">
                    <figcaption class="back">
                        <h1>SECOND BROTHER</h1>
                        <hr>
                        <p>El gruñon..</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="tarjet">
            <a href='/index'>
                <figure>
                    <img src="/Img/Mas/Conocenos/Derly6.jpg" class="front" alt="Derly">
                    <figcaption class="back">
                        <h1>SISTER-IN-LAW</h1>
                        <hr>
                        <p>La habladora.</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="tarjet">
            <a href='/luciana'>
                <figure>
                    <img src="/Img/Mas/Conocenos/Luciana.jpg" class="front" alt="Luciana">
                    <figcaption class="back">
                        <h1>OUR PRINCESS</h1>
                        <hr>
                        <p>Luciana.</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="tarjet">
            <a href='/index'>
                <figure>
                    <img src="/Img/Mas/Conocenos/Aleja5.JPG" class="front" alt="Aleja">
                    <figcaption class="back">
                        <h1>YOUNGER SISTER</h1>
                        <hr>
                        <p>La mas juiciosa</p>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="tarjet">
            <a href='/julieta'>
                <figure>
                    <img src="/Img/Mas/Conocenos/Julieta.jpg" class="front" alt="Aleja">
                    <figcaption class="back">
                        <h1>MY PRINCESS</h1>
                        <hr>
                        <p>Julieta.</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
    <%- include ('./includes/footer.html') %>
    </div>
</body>

</html>